# IBC 3.19 -- Configuration IB Gateway headless VPS
# Doc: https://github.com/IbcAlpha/IBC/blob/master/userguide.md

[IBController]
IbLoginId=YOUR_IB_USERNAME
IbPassword=YOUR_IB_PASSWORD
TradingMode=paper
FIX=no
IbDir=/root/Jts
AcceptIncomingConnectionAction=accept
ForceTwsApiPort=4002

# Divers
ShowAllTrades=no
ReadOnlyLogin=no
AcceptNonBrokerageAccountWarning=yes
AutoLogoffTime=
ClosedownAt=
DismissPasswordExpiryWarning=yes
DismissNSEComplianceTask=yes
ReconnectRetryDelay=5
