IB_HOST=127.0.0.1
IB_PORT=4001
IB_CLIENT_ID=1
IB_USERNAME=your_username
IB_PASSWORD=your_password

ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_PAPER=true

GOOGLE_API_KEY=
MISTRAL_API_KEY=
OPENAI_API_KEY=

FRED_API_KEY=a00bed305e205a96c772f72ffc834995

DATABENTO_API_KEY=

REDIS_URL=redis://localhost:6379

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
